In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/survey_results_public.csv', index_col='Respondent')
schema_df = pd.read_csv('data/survey_results_schema.csv', index_col='Column')

In [3]:
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 85)

In [4]:
df.head()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Yes,NaN,13,Monthly,NaN,NaN,Germany,European Euro,EUR,Microsoft SQL Server,Elasticsearch;Microsoft SQL Server;Oracle,"Developer, desktop or enterprise applications;...","Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Independent contractor, freelancer, or self-em...",White or of European descent,Man,"Languages, frameworks, and other technologies ...",Slightly satisfied,I am not interested in new job opportunities,C#;HTML/CSS;JavaScript,C#;HTML/CSS;JavaScript,.NET Core;Xamarin,.NET;.NET Core,Microsoft Teams;Microsoft Azure;Trello,Confluence;Jira;Slack;Microsoft Azure;Trello,No,Somewhat important,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,Often: 1-2 days per week or more,Start a free trial;Ask developers I know/work ...,Amused,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Windows,2 to 9 employees,Android;iOS;Kubernetes;Microsoft Azure;Windows,Windows,NaN,Straight / Heterosexual,No,"No, not at all",NaN,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",ASP.NET Core,ASP.NET;ASP.NET Core,Just as welcome now as I felt last year,50.0,36,27
2,I am a developer by profession,No,NaN,19,NaN,NaN,NaN,United Kingdom,Pound sterling,GBP,NaN,NaN,"Developer, full-stack;Developer, mobile","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very dissatisfied,I am not interested in new job opportunities,Python;Swift,JavaScript;Swift,React Native;TensorFlow;Unity 3D,React Native,Github;Slack,Confluence;Jira;Github;Gitlab;Slack,NaN,NaN,Fairly important,NaN,NaN,Once a year,Not sure,NaN,No,NaN,NaN,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,MacOS,"1,000 to 4,999 employees",iOS;Kubernetes;Linux;MacOS,iOS,I have little or no influence,NaN,Yes,"Yes, definitely",Less than once per month or monthly,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,NaN,7,4
3,I code primarily as a hobby,Yes,NaN,15,NaN,NaN,NaN,Russian Federation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Objective-C;Python;Swift,Objective-C;Python;Swift,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Once a decade,NaN,NaN,No,NaN,NaN,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Linux-based,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, somewhat",A few times per month or weekly,Daily or almost daily,Neither easy nor difficult,Appropriate in length,NaN,NaN,NaN,NaN,Somewhat more welcome now than last year,NaN,4,NaN
4,I am a developer by profession,Yes,25.0,18,NaN,NaN,NaN,Albania,Albanian lek,ALL,NaN,NaN,NaN,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",NaN,White or of European descent,Man,Flex time or a flexible schedule;Office enviro...,Slightly dissatisfied,"I’m not actively looking, but I am open to new...",NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,Not at all important/not necessary,Curious about other opportunities;Wanting to w...,NaN,Once a year,Not sure,Yes,Yes,Occasionally: 1-2 days per quarter but less th...,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Linux-based,20 to 99 employees,NaN,NaN,I have a great deal of influence,Straight / Heterosexual,Yes,"Yes, definitely",A few times per month or weekly,Multiple times per day,NaN,NaN,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat less welcome now than last year,40.0,7,4
5,"I used to be a developer by profession, but no...",Yes,31.0,16,NaN,NaN,NaN,United States,NaN,NaN,MySQL;PostgreSQL,MySQL;PostgreSQL;Redis;SQLite,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,White or of European descent,Man,NaN,NaN,NaN,Java;Ruby;Scala,HTML/CSS;Ruby;SQL,Ansible;Chef,Ansible,"Github;Google Suite (Docs, Meet, etc)",Confluence;Jira;Github;Slack;Google Suite (Doc...,NaN,NaN,Very important,NaN,NaN,Once a year,No,NaN,Yes,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,Docker;Google Cloud Platform;Heroku;Linux;Windows,AWS;Docker;Linux;MacOS;Windows,NaN,Straight / Heterosexual,Yes,"Yes, somewhat",Less than once per month or monthly,A few times per month or weekly,Easy,Too short,No,"Computer science, computer engineering, or sof...",Django;Ruby on Rails,Ruby on Rails,Just as welcome now as I felt last year,NaN,15,8

In [5]:
df.describe()

                Age      CompTotal  ConvertedComp   WorkWeekHrs
count  45446.000000   3.482600e+04   3.475600e+04  41151.000000
mean      30.834111  3.190464e+242   1.037561e+05     40.782174
std        9.585392            inf   2.268853e+05     17.816383
min        1.000000   0.000000e+00   0.000000e+00      1.000000
25%       24.000000   2.000000e+04   2.464800e+04     40.000000
50%       29.000000   6.300000e+04   5.404900e+04     40.000000
75%       35.000000   1.250000e+05   9.500000e+04     44.000000
max      279.000000  1.111111e+247   2.000000e+06    475.000000

In [6]:
df['ConvertedComp'].median()

54049.0

In [7]:
schema_df

                                                                   QuestionText
Column
Respondent                    Randomized respondent ID number (not in order ...
MainBranch                    Which of the following options best describes ...
Hobbyist                                                Do you code as a hobby?
Age                           What is your age (in years)? If you prefer not...
Age1stCode                    At what age did you write your first line of c...
CompFreq                       Is that compensation weekly, monthly, or yearly?
CompTotal                     What is your current total compensation (salar...
ConvertedComp                 Salary converted to annual USD salaries using ...
Country                                                      Where do you live?
CurrencyDesc                  Which currency do you use day-to-day? If your ...
CurrencySymbol                Which currency do you use day-to-day? If your ...
DatabaseDesireNextYear        Which database environments have you done exte...
DatabaseWorkedWith            Which database environments have you done exte...
DevType                       Which of the following describe you? Please se...
EdLevel                       Which of the following best describes the high...
Employment                    Which of the following best describes your cur...
Ethnicity                     Which of the following describe you, if any? P...
Gender                        Which of the following describe you, if any? P...
JobFactors                    Imagine that you are deciding between two job ...
JobSat                        How satisfied are you with your current job? (...
JobSeek                       Which of the following best describes your cur...
LanguageDesireNextYear        Which programming, scripting, and markup langu...
LanguageWorkedWith            Which programming, scripting, and markup langu...
MiscTechDesireNextYear        Which other frameworks, libraries, and tools h...
MiscTechWorkedWith            Which other frameworks, libraries, and tools h...
NEWCollabToolsDesireNextYear  Which collaboration tools have you done extens...
NEWCollabToolsWorkedWith      Which collaboration tools have you done extens...
NEWDevOps                     Does your company have a dedicated DevOps person?
NEWDevOpsImpt                 How important is the practice of DevOps to sca...
NEWEdImpt                     How important is a formal education, such as a...
NEWJobHunt                    In general, what drives you to look for a new ...
NEWJobHuntResearch            When job searching, how do you learn more abou...
NEWLearn                      How frequently do you learn a new language or ...
NEWOffTopic                   Do you think Stack Overflow should relax restr...
NEWOnboardGood                Do you think your company has a good onboardin...
NEWOtherComms                 Are you a member of any other online developer...
NEWOvertime                   How often do you work overtime or beyond the f...
NEWPurchaseResearch           When buying a new tool or software, how do you...
NEWPurpleLink                 You search for a coding solution online and th...
NEWSOSites                    Which of the following Stack Overflow sites ha...
NEWStuck                      What do you do when you get stuck on a problem...
OpSys                         What is the primary operating system in which ...
OrgSize                       Approximately how many people are employed by ...
PlatformDesireNextYear        Which platforms have you done extensive develo...
PlatformWorkedWith            Which platforms have you done extensive develo...
PurchaseWhat                  What level of influence do you, personally, ha...
Sexuality                     Which of the following describe you, if any? P...
SOAccount                                 Do you have a Stack Overflow account?
SOComm                        Do you consider yourself a member of the Stack...
SOPartFreq                    How frequently would you say you participate i...
SOVisitFreq                   How frequently would you say you visit Stack O...
SurveyEase                    How easy or difficult was this survey to compl...
SurveyLength                  How do you feel about the length of the survey...
Trans                                                      Are you transgender?
UndergradMajor                            What was your primary field of study?
WebframeDesireNextYear        Which web frameworks have you done extensive d...
WebframeWorkedWith            Which web frameworks have you done extensive d...
WelcomeChange                 Compared to last year, how welcome do you feel...
WorkWeekHrs                   On average, how many hours per week do you wor...
YearsCode                     Including any education, how many years have y...
YearsCodePro                  NOT including education, how many years have y...

In [8]:
df.median()

Age                 29.0
CompTotal        63000.0
ConvertedComp    54049.0
WorkWeekHrs         40.0
dtype: float64

In [9]:
df.mean()

Age               3.083411e+01
CompTotal        3.190464e+242
ConvertedComp     1.037561e+05
WorkWeekHrs       4.078217e+01
dtype: float64

In [10]:
df['ConvertedComp'].count()

34756

In [11]:
df['Hobbyist']

Respondent
1        Yes
2         No
3        Yes
4        Yes
5        Yes
        ...
64858    Yes
64867    Yes
64898    Yes
64925    Yes
65112    Yes
Name: Hobbyist, Length: 64461, dtype: object

In [12]:
df['Hobbyist'].value_counts()

Yes    50388
No     14028
Name: Hobbyist, dtype: int64

In [13]:
df['ConvertedComp'].value_counts()

120000.0     341
100000.0     306
150000.0     277
1000000.0    258
2000000.0    258
            ...
230916.0       1
1135.0         1
348.0          1
132.0          1
44023.0        1
Name: ConvertedComp, Length: 6958, dtype: int64

In [14]:
df['CurrencySymbol']

Respondent
1        EUR
2        GBP
3        NaN
4        ALL
5        NaN
        ...
64858    NaN
64867    NaN
64898    NaN
64925    NaN
65112    NaN
Name: CurrencySymbol, Length: 64461, dtype: object

In [15]:
schema_df.loc['CurrencySymbol']

QuestionText    Which currency do you use day-to-day? If your ...
Name: CurrencySymbol, dtype: object

In [16]:
df['CurrencySymbol'].value_counts().head(10)

USD    11050
EUR    10000
INR     4930
GBP     3127
CAD     1570
BRL     1308
AUD      982
PLN      937
RUB      767
SEK      666
Name: CurrencySymbol, dtype: int64

In [17]:
# give result in percentage
df['CurrencySymbol'].value_counts(normalize = True).head(10)

USD    0.243007
EUR    0.219916
INR    0.108418
GBP    0.068768
CAD    0.034527
BRL    0.028765
AUD    0.021596
PLN    0.020606
RUB    0.016868
SEK    0.014646
Name: CurrencySymbol, dtype: float64

In [18]:
df['Country'].value_counts()

United States                         12469
India                                  8403
United Kingdom                         3896
Germany                                3890
Canada                                 2191
                                      ...
Chad                                      1
Micronesia, Federated States of...        1
Saint Lucia                               1
Fiji                                      1
Mali                                      1
Name: Country, Length: 183, dtype: int64

In [19]:
country_grp = df.groupby(['Country'])

In [20]:
country_grp.get_group('India')

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,Country,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Respondent,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
7,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,United States dollar,USD,NaN,NaN,"Developer, back-end;Developer, front-end;Devel...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,NaN,NaN,Very satisfied,"I’m not actively looking, but I am open to new...",C#;HTML/CSS;PHP,C#;HTML/CSS;PHP,NaN,NaN,NaN,NaN,Yes,Extremely important,Very important,Better compensation;Growth or leadership oppor...,"Read company media, such as employee blogs or ...",Every few months,Yes,Yes,No,Sometimes: 1-2 days per month but less than we...,Start a free trial;Ask developers I know/work ...,NaN,Stack Overflow (public Q&A for anyone who codes),NaN,Windows,20 to 99 employees,NaN,NaN,NaN,NaN,Yes,"Yes, definitely",Multiple times per day,Multiple times per day,NaN,NaN,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,A lot more welcome now than last year,NaN,6,4
22,I am a developer by profession,Yes,NaN,18,Monthly,NaN,NaN,India,Indian rupee,INR,NaN,NaN,"Developer, full-stack;Engineer, data","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,Man,NaN,Slightly dissatisfied,I am actively looking for a job,Java;JavaScript;Python,Java;Python,NaN,NaN,NaN,NaN,Not sure,NaN,Very important,Better compensation;Better work/life balance;W...,Company reviews from third party sites (e.g. G...,Every few months,No,Yes,No,Often: 1-2 days per week or more,NaN,NaN,Stack Overflow (public Q&A for anyone who code...,NaN,Windows,500 to 999 employees,NaN,NaN,NaN,NaN,Yes,"Yes, definitely",Multiple times per day,Multiple times per day,Easy,Appropriate in length,NaN,"Computer science, computer engineering, or sof...",NaN,NaN,Just as welcome now as I felt last year,50.0,10,2
58,I am a developer by profession,Yes,NaN,22,NaN,NaN,NaN,India,Indian rupee,INR,Microsoft SQL Server,Microsoft SQL Server,"Developer, back-end",NaN,"Independent contractor, freelancer, or self-em...",South Asian,NaN,Family friendliness,Very satisfied,I am not interested in new job opportunities,C#;JavaScript;SQL;TypeScript,C#;JavaScript;SQL;TypeScript,.NET;.NET Core;Node.js,.NET;.NET Core;Node.js,Stack Overflow for Teams,Stack Overflow for Teams,Yes,Extremely important,Very important,NaN,NaN,Once every few years,NaN,Yes,No,Often: 1-2 days per week or more,Ask developers I know/work with,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Call a coworker or friend;Visit Stack Overflow...,Windows,NaN,NaN,NaN,NaN,NaN,Yes,"Yes, definitely",NaN,Multiple times per day,Neither easy nor difficult,Too long,NaN,Web development or web design,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery,Angular;Angular.js;ASP.NET;ASP.NET Core;jQuery,NaN,NaN,NaN,NaN
63,I am a student who is learning to code,Yes,21.0,17,NaN,NaN,NaN,India,NaN,NaN,DynamoDB,Firebase;MongoDB;MySQL,"Designer;Developer, back-end;Developer, front-...","Secondary school (e.g. American high school, G...","Not employed, but looking for work",South Asian,Man,Flex time or a flexible schedule;How widely us...,NaN,I am actively looking for a job,Go;Kotlin;TypeScript,C;C++;HTML/CSS;Java;JavaScript;Python,Flutter;Node.js;React Native;TensorFlow,NaN,Confluence;Stack Overflow for Teams,Github;Facebook Workplace;Slack;Microsoft Team...,NaN,NaN,NaN,NaN,NaN,Once a year,Yes,NaN,No,NaN,Start a free trial;Ask developers I know/work ...,"Hello, old friend",Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow;Go for a walk or other ph...,Windows,NaN,AWS;Docker;Heroku;iOS,Android;Arduino;Google Cloud Platform;Raspberr...,NaN,Straight / Heterosexual,Yes,Neutral,A few times per week,Daily or almost daily,Easy,Appropriate in length,No,NaN,Angular.js;Django;jQuery;Laravel;Vue.js,NaN,Not applicable - I did not use Stack Overflow ...,NaN,4,NaN
149,I am a developer by profession,Yes,36.0,31,Yearly,21000000.0,293196.0,India,Indian rupee,INR,Cassandra;MySQL;PostgreSQL,MySQL;PostgreSQL,"Developer, back-end;Developer, QA or test;DevO...","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,East Asian,Man,"Languages, frameworks, and other technologies ...",Very satisfied,I am not interested in new job opportunities,Bash/Shell/PowerShell;C;C++;Java;Perl;Scala,Bash/Shell/PowerShell;C++;Perl,Apache Spark,NaN,Confluence;Jira;Github;Gitlab;Google Suite (Do...,"Confluence;Jira;Github;Google Suite (Docs, Mee...",Not sure,Neutral,Critically important,Just because;Curious about other opportunities...,"Read company media, such as employee blogs or ...",Once a year,Not sure,Onboarding? What onboarding?,No,Sometimes: 1-2 days per month but less than we...,NaN,Indifferent,Stack Overflow (public Q&A for anyone who codes),Visit Stack Overflow;Go for a walk or other ph...,Linux-based,500 to 999 employees,Google Cloud Platform;Linux,Linux,I have little or no influence,Straight / Heterosexual,Yes,"Yes, somewhat",A few times per month or weekly,Multiple times per day,Neither easy nor difficult,Appropriate in length,No,"Computer science, computer engineering, or sof...",NaN,NaN,Somewhat more welcome now than last year,70.0,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54757,NaN,Yes,NaN,18,NaN,NaN,NaN,India,NaN,NaN,MongoDB;MySQL,MySQL,"Developer, full-stack;Developer, QA or test","Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Employed full-time,NaN,Man,NaN,NaN,NaN,HTML/CSS;Java;JavaScript;Python;SQL,C;HTML/CSS;Java;JavaScript;PHP;Python;SQL,NaN,NaN,Jira;Github;Gitlab;Slack,Jira;Github;Gitlab;Slack,NaN,NaN,NaN,NaN,NaN,Once a year,No,NaN,NaN,NaN,Ask developers I know/work with,Amused,Stack Overflow (public Q&A for anyone who code...,Visit Stack Overflow,Linux-based,NaN,Linux;Windows,Linux;Windows,NaN,Straight / Heterosexual,Not sure/can't remember,Neutral,NaN,A few times per month or weekly,Easy,Appropriate in length,No,"Computer science, computer engineering, or sof...",jQuery,jQuery,A lot less welcome now than last year,NaN,5,Less than 1 year
55407,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,NaN,NaN,NaN,NaN,"Associate degree (A.A., A.S., etc.)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
62464,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,NaN,NaN,NaN,NaN,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",NaN,NaN,Man,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I never declared a major,NaN,NaN,NaN,NaN,NaN,NaN
62954,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,NaN,NaN,NaN,NaN,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ASP.NET;ASP.NET Core;Django;jQuery;Symfony;Vue.js,NaN,NaN,NaN,NaN
64236,NaN,Yes,NaN,NaN,NaN,NaN,NaN,India,NaN,NaN,NaN,NaN,NaN,NaN,Employed full-time,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
filt = df['Country'] == 'India'
df.loc[filt]['CurrencySymbol'].value_counts()

INR    4918
USD     133
AED      16
AUD      11
EUR       8
AMD       7
AFN       5
DJF       2
JPY       2
ARS       2
RON       2
CAD       2
ANG       2
HKD       2
AOA       2
AWG       2
RSD       1
non       1
TWD       1
MKD       1
RUB       1
IDR       1
BYN       1
ETB       1
YER       1
BDT       1
CDF       1
GNF       1
ZAR       1
AZN       1
NOK       1
LKR       1
UAH       1
BMD       1
MYR       1
Name: CurrencySymbol, dtype: int64

In [22]:
country_grp['CurrencySymbol'].value_counts().head(50)

Country              CurrencySymbol
Afghanistan          AFN                24
                     AED                 3
                     ALL                 2
                     AUD                 2
                     USD                 2
                     ANG                 1
                     RUB                 1
                     THB                 1
Albania              ALL                22
                     EUR                 7
                     AFN                 1
                     AOA                 1
                     BTN                 1
                     USD                 1
Algeria              DZD                25
                     USD                 5
                     EUR                 3
                     ANG                 1
Andorra              EUR                 3
                     AED                 1
                     ANG                 1
                     ARS                 1
                     VES                 1
Angola               AOA                 2
                     USD                 1
                     non                 1
Antigua and Barbuda  ARS                 1
Argentina            ARS               253
                     USD                41
                     EUR                 2
                     AUD                 1
                     GBP                 1
                     NZD                 1
Armenia              AMD                43
                     USD                 4
                     EUR                 1
Australia            AUD               943
                     USD                 7
                     EUR                 3
                     GBP                 2
                     JPY                 1
Austria              EUR               402
                     USD                 3
                     BSD                 1
                     CHF                 1
Azerbaijan           AZN                23
                     USD                 3
                     CAD                 1
Bahamas              KYD                 1
                     USD                 1
Name: CurrencySymbol, dtype: int64

In [23]:
country_grp['CurrencySymbol'].value_counts().loc['India'].max()

4918

In [24]:
country_grp['ConvertedComp'].median()

Country
Afghanistan                             15163.5
Albania                                 15900.0
Algeria                                  9432.0
Andorra                                 88640.0
Angola                                   5292.0
                                         ...
Venezuela, Bolivarian Republic of...     3600.0
Viet Nam                                10344.0
Yemen                                   36000.0
Zambia                                   5452.0
Zimbabwe                                 7200.0
Name: ConvertedComp, Length: 183, dtype: float64

In [25]:
country_grp['ConvertedComp'].median().loc['Germany']

62697.0

In [26]:
country_grp['ConvertedComp'].agg(['median', 'mean']).loc['Canada']

median     68068.000000
mean      115101.775465
Name: Canada, dtype: float64

In [27]:
filt = df['Country'] == 'India'
df.loc[filt]['LanguageWorkedWith'].str.contains('Python').sum()

2670

In [28]:
country_grp.sum()

,Age,CompTotal,ConvertedComp,WorkWeekHrs
Country,,,,
Afghanistan,518.0,1.427182e+10,3558963.0,837.0
Albania,803.0,2.247393e+06,512220.0,1355.0
Algeria,1429.0,1.158900e+06,165805.0,1069.0
Andorra,117.0,1.640000e+05,177280.0,126.0
Angola,120.0,2.374040e+05,10584.0,217.0
...,...,...,...,...
"Venezuela, Bolivarian Republic of...",1624.0,7.032049e+07,226102.0,1645.0
Viet Nam,4234.0,4.958551e+16,2947631.0,5127.0
Yemen,62.0,3.000000e+03,36000.0,40.0
Zambia,282.0,1.120000e+05,87532.0,380.0
Zimbabwe,486.0,5.211000e+04,289720.0,559.0

In [29]:
country_grp.count()

,MainBranch,Hobbyist,Age,Age1stCode,CompFreq,CompTotal,ConvertedComp,CurrencyDesc,CurrencySymbol,DatabaseDesireNextYear,DatabaseWorkedWith,DevType,EdLevel,Employment,Ethnicity,Gender,JobFactors,JobSat,JobSeek,LanguageDesireNextYear,LanguageWorkedWith,MiscTechDesireNextYear,MiscTechWorkedWith,NEWCollabToolsDesireNextYear,NEWCollabToolsWorkedWith,NEWDevOps,NEWDevOpsImpt,NEWEdImpt,NEWJobHunt,NEWJobHuntResearch,NEWLearn,NEWOffTopic,NEWOnboardGood,NEWOtherComms,NEWOvertime,NEWPurchaseResearch,NEWPurpleLink,NEWSOSites,NEWStuck,OpSys,OrgSize,PlatformDesireNextYear,PlatformWorkedWith,PurchaseWhat,Sexuality,SOAccount,SOComm,SOPartFreq,SOVisitFreq,SurveyEase,SurveyLength,Trans,UndergradMajor,WebframeDesireNextYear,WebframeWorkedWith,WelcomeChange,WorkWeekHrs,YearsCode,YearsCodePro
Country,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Afghanistan,80,84,22,52,29,24,24,36,36,35,41,43,60,76,27,34,35,32,42,41,48,28,30,30,32,22,24,30,22,21,51,33,27,52,26,36,44,57,44,44,29,35,41,15,19,43,45,33,47,41,42,28,40,33,36,39,18,50,34
Albania,53,54,30,45,26,20,20,33,33,36,37,36,46,52,34,33,33,32,36,37,38,29,25,29,35,28,28,34,28,24,39,32,28,41,31,26,37,42,38,37,33,35,35,24,29,37,37,31,37,35,36,32,36,30,30,35,28,45,34
Algeria,90,94,51,75,29,16,16,34,34,64,69,54,77,89,39,64,58,34,59,73,78,61,57,67,63,30,32,46,33,32,78,58,30,75,32,63,70,80,72,75,33,71,72,27,40,70,70,62,70,63,61,57,68,61,59,60,29,76,37
Andorra,13,13,3,7,3,2,2,7,7,8,9,7,6,12,4,3,3,6,3,6,8,6,9,7,9,4,4,7,3,3,8,4,4,7,4,7,6,7,7,7,6,8,9,5,4,4,5,2,4,4,4,3,4,8,8,4,3,7,6
Angola,9,9,3,4,4,3,2,4,4,4,2,3,5,9,3,3,3,4,4,4,3,3,2,4,3,4,4,3,4,3,4,3,4,5,4,3,4,6,4,4,3,5,3,4,3,3,4,3,4,3,4,2,3,3,3,3,3,4,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"Venezuela, Bolivarian Republic of...",70,70,56,63,42,36,36,46,46,55,62,54,61,70,58,60,57,46,58,56,64,55,44,57,58,44,45,48,45,45,63,56,45,67,42,50,62,67,62,63,45,55,60,34,59,65,65,54,64,59,59,60,54,55,59,62,41,63,46
Viet Nam,362,364,165,273,142,104,104,158,158,225,239,190,278,359,190,211,204,153,229,262,282,198,195,218,249,140,139,169,137,131,270,207,138,291,141,202,252,302,254,270,144,239,260,131,133,271,276,224,282,207,208,190,217,190,215,221,121,271,162
Yemen,7,7,2,5,2,1,1,2,2,7,6,3,5,7,2,2,3,2,3,7,6,5,5,4,4,2,2,3,2,2,5,3,2,3,2,6,6,4,6,6,2,7,6,2,1,3,3,3,3,2,2,2,3,6,5,3,1,5,3
Zambia,20,21,10,17,10,5,5,12,12,13,12,16,19,21,14,14,10,12,13,12,14,12,8,13,12,11,10,16,6,6,13,14,12,15,12,11,14,17,14,14,12,14,12,5,12,16,15,13,15,14,14,14,16,14,10,14,10,16,12
Zimbabwe,31,31,19,25,16,11,11,18,18,24,25,19,25,30,21,22,20,18,21,24,27,20,19,24,21,17,16,17,17,18,22,24,17,28,17,20,25,29,25,26,18,24,26,12,22,28,27,24,28,22,22,20,21,24,26,26,14,26,18

In [30]:
country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum()).loc['India']

2670

In [31]:
country_respondents = df['Country'].value_counts()
country_respondents

United States                         12469
India                                  8403
United Kingdom                         3896
Germany                                3890
Canada                                 2191
                                      ...
Chad                                      1
Micronesia, Federated States of...        1
Saint Lucia                               1
Fiji                                      1
Mali                                      1
Name: Country, Length: 183, dtype: int64

In [32]:
country_uses_python = country_grp['LanguageWorkedWith'].apply(lambda x: x.str.contains('Python').sum())
country_uses_python

Country
Afghanistan                              11
Albania                                  13
Algeria                                  40
Andorra                                   3
Angola                                    1
                                       ...
Venezuela, Bolivarian Republic of...     29
Viet Nam                                102
Yemen                                     1
Zambia                                    4
Zimbabwe                                 13
Name: LanguageWorkedWith, Length: 183, dtype: int64

In [33]:
python_df = pd.concat([country_respondents, country_uses_python], axis='columns', sort=False)
python_df

                                    Country  LanguageWorkedWith
United States                         12469                5964
India                                  8403                2670
United Kingdom                         3896                1621
Germany                                3890                1712
Canada                                 2191                1011
...                                     ...                 ...
Chad                                      1                   0
Micronesia, Federated States of...        1                   1
Saint Lucia                               1                   1
Fiji                                      1                   0
Mali                                      1                   0

[183 rows x 2 columns]

In [34]:
python_df.rename(columns={'Country': 'NumRespondents', 'LanguageWorkedWith': 'NumKnowsPython'}, inplace=True)

In [35]:
python_df

                                    NumRespondents  NumKnowsPython
United States                                12469            5964
India                                         8403            2670
United Kingdom                                3896            1621
Germany                                       3890            1712
Canada                                        2191            1011
...                                            ...             ...
Chad                                             1               0
Micronesia, Federated States of...               1               1
Saint Lucia                                      1               1
Fiji                                             1               0
Mali                                             1               0

[183 rows x 2 columns]

In [36]:
python_df['PctKnowsPython'] = (python_df['NumKnowsPython']/python_df['NumRespondents']) * 100
python_df

,NumRespondents,NumKnowsPython,PctKnowsPython
United States,12469,5964,47.830620
India,8403,2670,31.774366
United Kingdom,3896,1621,41.606776
Germany,3890,1712,44.010283
Canada,2191,1011,46.143314
...,...,...,...
Chad,1,0,0.000000
"Micronesia, Federated States of...",1,1,100.000000
Saint Lucia,1,1,100.000000
Fiji,1,0,0.000000
Mali,1,0,0.000000

In [37]:
python_df.sort_values(by='PctKnowsPython', ascending=False, inplace=True)

In [38]:
python_df.head(50)

,NumRespondents,NumKnowsPython,PctKnowsPython
Gabon,1,1,100.000000
Saint Lucia,1,1,100.000000
"Micronesia, Federated States of...",1,1,100.000000
Montenegro,13,9,69.230769
Brunei Darussalam,3,2,66.666667
Guyana,5,3,60.000000
Swaziland,7,4,57.142857
Iceland,53,28,52.830189
Finland,349,183,52.435530
Uganda,81,42,51.851852
Mauritania,4,2,50.000000
Solomon Islands,2,1,50.000000
Burkina Faso,6,3,50.000000
Belize,4,2,50.000000
Timor-Leste,2,1,50.000000
Jamaica,14,7,50.000000
Papua New Guinea,2,1,50.000000
Cameroon,50,24,48.000000
United States,12469,5964,47.830620
Israel,653,307,47.013783
Ecuador,49,23,46.938776
Taiwan,158,73,46.202532
Canada,2191,1011,46.143314
Oman,11,5,45.454545
Estonia,145,65,44.827586
Ireland,444,199,44.819820
Japan,297,132,44.444444
Switzerland,629,278,44.197138
Germany,3890,1712,44.010283
France,1898,833,43.888303
Costa Rica,76,33,43.421053
Singapore,228,99,43.421053
Australia,1208,524,43.377483
Lao People's Democratic Republic,7,3,42.857143
Democratic Republic of the Congo,7,3,42.857143
Trinidad and Tobago,7,3,42.857143
China,371,158,42.587601
Peru,101,43,42.574257
Algeria,94,40,42.553191
Malta,47,20,42.553191
Zimbabwe,31,13,41.935484
Norway,384,160,41.666667
New Zealand,353,147,41.643059
United Kingdom,3896,1621,41.606776
Hong Kong (S.A.R.),111,46,41.441441
"Venezuela, Bolivarian Republic of...",70,29,41.428571
Slovenia,157,65,41.401274
Kenya,271,111,40.959410
Netherlands,1343,544,40.506329
Cyprus,50,20,40.000000

In [39]:
python_df.loc['India']

NumRespondents    8403.000000
NumKnowsPython    2670.000000
PctKnowsPython      31.774366
Name: India, dtype: float64

In [40]:
filt = df['Country'] == 'India'
df.loc[filt]['CurrencySymbol'].value_counts(ascending = True).index[0]

'non'