In [1]:
import pandas as pd

In [2]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreySchafer@gamil.com", "JaneDoe@email.com", "JohnDoe@email.com"]
}

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                   email
0  Corey  Schafer  CoreySchafer@gamil.com
1   Jane      Doe       JaneDoe@email.com
2   John      Doe       JohnDoe@email.com

In [5]:
df['last']=='Doe'

0    False
1     True
2     True
Name: last, dtype: bool

In [6]:
filt = (df['last']=='Doe')

In [7]:
filt

0    False
1     True
2     True
Name: last, dtype: bool

In [8]:
df[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [9]:
df[df['last']=='Doe']

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [10]:
df.loc[filt]

  first last              email
1  Jane  Doe  JaneDoe@email.com
2  John  Doe  JohnDoe@email.com

In [11]:
df.loc[filt, 'email']

1    JaneDoe@email.com
2    JohnDoe@email.com
Name: email, dtype: object

& - and

| - or

In [12]:
filt = (df['last'] == 'Schafer') | (df['first'] == 'John')

In [13]:
df.loc[filt, 'email']

0    CoreySchafer@gamil.com
2         JohnDoe@email.com
Name: email, dtype: object

In [14]:
filt = (df['last'] == 'Doe') & (df['first'] == 'John')

In [15]:
df.loc[filt, 'email']

2    JohnDoe@email.com
Name: email, dtype: object

~ This is going to negate that filter

In [16]:
df.loc[~filt, 'email']

0    CoreySchafer@gamil.com
1         JaneDoe@email.com
Name: email, dtype: object

In [17]:
f = ['Corey', 'Jane']

In [18]:
filt = df['first'].isin(f)

In [19]:
filt

0     True
1     True
2    False
Name: first, dtype: bool

In [20]:
df.loc[filt, 'first']

0    Corey
1     Jane
Name: first, dtype: object

In [21]:
filt = (df['first']==f)

ValueError: ('Lengths must match to compare', (3,), (2,))